<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factors</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
</head>
<body class="w-screen h-screen bg-gradient-to-b from-cyan-500 to-fuchsia-500">
    <h1 class="text-center text-white font-sans font-light text-5xl pt-8">
        Factors
    </h1>
    <div class="flex flex-col gap-4 justify-center items-center mt-16">
        <label for="number" class="text-white text-lg">Enter an integer number:</label>
        <input type="number" step="1" max="100000" id="number" name="number"
               class="rounded-md px-2 py-1 border-2 border-gray-300"
               hx-post="/hx/factors"
               hx-target="#factors"
               hx-swap="outerHTML"
               hx-trigger="input changed delay:500ms"
        >
        <p class="text-center text-white text-lg">Factors:</p>
        <div id="factors">

        </div>
    </div>
</body>
</html>